body {
  margin-top: 70px;
  background: #333;
}

.main-header {
  color: #fff;
}

.card {
  color: #fff;
  margin: 10px 0;
}

.card-1 {
  background: blue;
}

.card-2 {
  background: green;
}

.card-3 {
  background: red;
}

.card-text {
  margin: 10px 10px;
}
